body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0 5%;

    background-color: rgba(0, 3, 17, 0.651);
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

.video-item {
    background-color: #242424;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.video-item .video-img {
    width: 100%;
    border-radius: 0.5rem;
}

.diag-img {
    object-fit: cover;
    object-position: center;

    height: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.video-col {
    color: white;
    background-color: #333;
    padding: 1rem;
    margin: 2rem;
    flex-grow: 0;
    border-radius: 1rem;
    width: 15vw;

    flex: 1;
    justify-content: center;
}

.diag-col {
    color: white;
    background-color: #333;
    padding: 1rem;
    margin: 2rem;
    flex-grow: 1;
    border-radius: 1rem;
}

.stuf {
    max-height: 100vh;
    margin-bottom: 10vh;
}

.s5 {
    max-width: 50%;
    margin-bottom: 50vh;
}

.input-file {
	position: relative;
	display: inline-block;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #59be6e;
}
.input-file:active .input-file-btn {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}

.green-large-button {
    width: 150px;
    height: 40px;
    background-color: #59be6e;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  