<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Momo Video Streaming</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
</head>

<body>
    <main class="col">
        <div class="row stuf">
            <div class="col video-col">
                <h2>Видео потоки</h2>
                <div class="video-item">
                    <h3>Необработанный видео поток</h3>
                    <img class="video-img" id="normframe" alt="Видео 1">
                </div>
                <div class="video-item">
                    <h3>Обработанный видео поток</h3>
                    <img class="video-img" id="netframe" alt="Видео 2">
                    <h3 id="emotecap"></h3>
                </div>
            </div>
            <div class="col diag-col video-item">
                <h2>Диаграмма</h2>
                <canvas class="diag-img" id="diag" alt="Диаграмма"></canvas>
                <h3 id="emotecap"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col s5">
                <form id="netimg" method="post" enctype="multipart/form-data" onsubmit="send(event,this)">
                    <input class="green-large-button" type="submit">
                    <label class="input-file">
                        <input id="file" type="file" name="file1">
                        <span class="input-file-btn">Выберите файл</span>
                        <span class="input-file-text"></span>
                    </label>
                </form>
            </div>
            <div class="col s5">
                <div class="video-item">
                    <img id="imsin">
                </div>
            </div>
        </div>
    </main>

    <script>
        const norm_url = "{{ url_for('get_frame') }}"
        const net_url = "{{ url_for('get_netframe') }}"
        const diag_url = "{{ url_for('get_emotes') }}"
        const img2netimg_url = "{{ url_for('img2netimg') }}"
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='form.js') }}"></script>
</body>

</html>